input_bucket_name                    = ""
output_bucket_name                   = ""
processed_videos_bucket_name         = ""
input_function_name                  = ""
input_function_role_policy_name      = ""
input_function_role_name             = ""
cleanup_function_name                = ""
cleanup_function_role_policy_name    = ""
cleanup_function_role_name           = ""
media_convert_queue_name             = ""
media_convert_sns_topic_name         = ""
mediaconvert_role_name               = ""
eventbridge_rule_name                = ""
eventbridge_error_rule_name          = ""
dead_letter_queue_topic_name         = ""
dead_letter_queue_subscription_email = ""
